<div class="general-styles">
  <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Libreria Alas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
    data-bs-target="#navbarScroll" aria-controls="navbarScroll" 
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link" routerLink="" [ngClass]="{active: menuOption == 'inicio'}"
          (click)= "onOption('inicio')">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="lista-pedidos" [ngClass]="{active: menuOption == 'pedidos'}"
          (click)= "onOption('pedidos')">Pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="nuevo-pedido" [ngClass]="{active: menuOption == 'nuevo-pedidos'}"
          (click)= "onOption('nuevo-pedidos')">Nuevo Pedido</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="lista-cuadernillos" [ngClass]="{active: menuOption == 'cuadernilllos'}"
          (click)= "onOption('cuadernilllos')" >Cuadernillos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="nuevo-cuadernillo" [ngClass]="{active: menuOption == 'nuevo-cuadernilllo'}"
          (click)= "onOption('nuevo-cuadernilllo')" >Nuevo Cuadernillo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="lista-clientes"[ngClass]="{active: menuOption == 'lista-clientes'}"
          (click)= "onOption('lista-clientes')" >Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="nuevo-cliente"[ngClass]="{active: menuOption == 'nuevo-cliente'}"
          (click)= "onOption('nuevo-cliente')" >Nuevo Cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="prueba"[ngClass]="{active: menuOption == 'prueba'}"
          (click)= "onOption('prueba')" >Prueba</a>
        </li>
       
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
</div>